body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  z-index: 0;
}

button {
  padding: 12px;
  border-radius: 8px;
}

/* #region welcome page */
#welcome-message {
  z-index: 2;
  top: 0vh;
  right: 50vw;
  transform: translate(50%);
  position: fixed;

  height: 8%;
  width: 30%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* border: solid 1px red; */
  background-color: aliceblue;
  border-radius: 0px 0px 10px 10px;
  border: inset;
}

#welcome-div {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0vh;
}

.welcome-clickable {
  z-index: 1;
  width: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#owner-clickable {
  opacity: 1.0;
  background-color: lightpink;
}

#owner-clickable:hover {
  opacity: 0.7;
}

#doctor-clickable {
  opacity: 1.0;
  background-color: rgb(146, 75, 146);
}

#doctor-clickable:hover {
  opacity: 0.7;
}

#owner-img {
  position: fixed;
  height: 100vh;
  right: 50vw;
}

#doc-img {
  position: fixed;
  height: 100vh;
  left: 50vw;
}

/* #endregion */

/* #region logins */
#owner-login-page {
  background-color: lightpink;
}

#doctor-login-page {
  background-color: rgb(146, 75, 146);
}

.login-page {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
}

.form-div {
  position: fixed;
  right: 50vw;
  transform: translate(50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: aliceblue;
  border-radius: 20px;
  padding: 35px;
  border: inset;
}

.login-form {
  display: flex;
  flex-direction: column;
}
/* #endregion */

/* #region text inputs */

input {
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 0px;
  border-bottom: 0px;
  padding: 12px;
}

.top-input {
  border: solid 2px;
  border-bottom: 0px;
  border-radius: 8px 8px 0px 0px;
}

.bottom-input {
  border: solid 2px;
  border-top: 0px;
  border-radius: 0px 0px 8px 8px;
}

/* #endregion */

/* #region homepages */
.logout {
  z-index: 1;
  position: absolute;
  right: 1vw;
}

.dash-div {
  display: flex;
  justify-content: center;
}

#appt-cont {
  display: flex;
  flex-direction: column;
}

#dash-div #appt-cont {
  background-color: lightsalmon;
  height: 100vh;
  width: 25vw;
  position: fixed;
  left: 0%;
  top: 0%;
}

#desk-div #appt-cont {
  background-color: rgb(146, 75, 146);
  /* position: fixed; */
  left: 0%;
  top: 0%;
}

#desk-div h1 {
  z-index: 1;
  position: absolute;
  right: 50%;
  transform: translate(50%);
  background-color: aliceblue;
  padding: 12px;
  margin-top: 0px;
  border-radius: 0px 0px 10px 10px;
  border: inset;
}

#pet-cont {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;

  height: fit-content;
  width: 75vw;
  background-color: aliceblue;

  position: absolute;
  right: 0%;
  top: 0%;
}

#pet-cont img {
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
}

#appt-popup img {
  height: 450px;
  border-radius: 20px;
}

#appt-popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(146, 75, 146);
}

.pet-card {
  display: flex;
  flex-direction: column-reverse;

  width: fit-content;
  height: fit-content;

  background-color: lightsalmon;
  margin: 20px;
  padding: 24px;

  border-radius: 10px;
  border: outset;
}

.pet-card:hover {
  border: inset;
}

.appt-card {
  height: fit-content;
  background-color: aliceblue;
  border-radius: 10px;
  border: inset;

  padding: 10px;
  margin: 8px;
}

#desk-div .appt-card:hover {
  border: outset;
}
/* #endregion */